<html>
<body>
<h1 class="off"></h1>

Facial revitalisation acupuncture is a safe, painless, effective,
non surgical, non toxic process designed to help the whole body
both look and feel younger while reducing the signs of aging.
This treatment promotes a more youthful, glowing appearance by
encouraging natural collagen and elastin production, increased
circulation, and improved skin elasticity. FRA is firmly rooted in
the principles of oriental medicine, Like regular acupuncture, FRA
involves differential diagnosis and the use of multiple needles to
move or balance the qi, blood, and fluids within the body as well
as restore or maintain harmony. <br>
<br>

The observation of the face plays an important role in diagnosis
in Traditional Chinese Medicine (TCM)<a href="acupuntura#MTC">(TCM)</a>
because it is a reflection of a person's overall health. An important
sign of aging in the face is the appearance of wrinkles: the
attack of external pathogens, stress, anxiety and deficiency of
some organs can accelerate the aging process of the skin, favoring
its appearance. Negative emotions such as worry, stress, or anger
can also generate unconscious gestures - such as frowning - that
eventually develop into persistent wrinkles.

<%= image_tag("face_points", :class => "style_image4") %>
<!-- La observación del rostro es un factor importante en el diagnóstico en la Medicina
Tradicional China <a href="acupuntura#MTC">(MTC)</a> debido a que refleja la salud
global del individuo. Un signo importante de envejecimiento en la cara es la
aparición de las arrugas: el ataque de factores patógenos externos, el estrés, la
ansiedad y la deficiencia de algunos órganos puede acelerar el proceso de
envejecimiento de la piel, favoreciendo su aparición. También las emociones
negativas como la preocupación, estrés o ira pueden generar gestos
involuntarios–como fruncimiento del ceño– que a la larga se convierten en arrugas persistentes. <br> -->
<br><br>

<h1 class="off">The Benefits</h1><br>

•	Reduces fine lines & wrinkles<br>
•	Tightens pores<br>
•	Reduces or eliminates bags under the eyes<br>
•	Lifts sagging jaw and cheeks<br>
•	Reduces stress in the face<br>
•	Tightens & firms skin<br>
•	Reduces double chin<br>
•	Brightens complexion<br>
•	reduces facial swelling<br>
•	Evens outfacial tone (too red or pale)<br>
•	Lifts sagging eyebrows<br>
•	Visibly imporoves skin texture and colour<br>
•	Improves moisture content of the skin<br>
•	Improves facial muscle tone<br>
<br>
Acupuncture has neuroendocrine effects, and benefits the hormones. For many women
estrogen levels decrease with age, which accelerates the aging process of the
skin. Establishing hormonal balance will benefit many aspects of the body,
including some skin conditions such as hormonal acne and dry skin that often
accompany menopause.<br>
<br>

<h1 class="off">Scientific Evidence</h1><br>

As we age, we lose natural oils and hydration in the skin, which
causes a change in skin tone, complexion, and firmness. The skin
matrix also changes, making it less elastic over time, which can lead to
wrinkles and sagging skin. Studies have found that after facial
rejuvenation acupuncture treatments the water and
natural oil content of the skin increased  (1), and there was also a significant
improvement in elasticity and collagen formation in skin (2,3).<br>

<!-- Al envejecer perdemos aceites naturales e hidratación en la piel, lo que provoca un
cambio en la tonalidad, complexión y firmeza de la piel. El sistema dérmico también
se ve afectado, perdiendo su elasticidad, y como consecuencia aparecen arrugas y
flacidez. Las investigaciones han demostrado que tras realizar un tratamiento de
acupuntura cosmética, la piel aumenta su contenido en aceites naturales y agua, y
mejora de forma significativa la elasticidad y formación de colágeno en la piel
(2,3) <br> -->
<br>
Cosmetic acupuncture has also been shown to improve resting
muscle tone in the face (2,4). As muscles under the skin are toned,
the skin over top of these muscles is firmed, which reduces the
look of fine lines and wrinkles (5). The effect is similar to
that of Botox, but without the injection of toxic chemicals.
<br>
<!-- Las investigaciones demuestran que la acupuntura cosmética también
mejora el tono mimético del rostro (2,4). Cuando los músculos bajo
la piel estén tonificados, la piel que los recubre experimenta mayor
firmeza, lo cual reduce las líneas finas, de expresión y arrugas. -->
<br>
It has been demonstrated in numerous studies that acupuncture decreases inflammation
(6,7,8), and increases circulation (1,6,7,8). Improved circulation
helps eliminate toxins and provides vital nutrients to the skin,
giving you a natural, healthy glow.<br>

<!-- Numerosos estudios han demostrado que la acupuntura reduce la
inflamación (6,7,8) e incrementa la circulación (1,6,7,8).  La
mejora de la circulación ayuda a eliminar toxinas y distribuye los
nutrientes vitales a la piel proporcionando una apariencia con más
brillo y vitalidad en el rostro. <br> -->
<br>
<!-- <%=image_tag("face man3", :class => "style_image4") %> -->
Neurotransmitters also play an important role in regeneration
of the skin, the healing of wounds, release of hormones,
biosynthesis of proteins, the regulation of muscle tone and
maintenance of optimal pH levels and vasodilation.
This will be covered in more depth in the
<a href="science#neurotransmitters">science</a> section.
<br><br><br>
<h1 class="off">Preventative and Therapeutic</h1><br>
<%=image_tag("treatment2", :class => "style_image4") %>

As we age, all our bodily systems decline: our circulation slows down and can
become impeded, our hormonal levels drop, our ability to digest and absorb our
food decreases so that we no longer operate at our peak levels as we may have in
the past. FRA helps to bring all the bodily systems up to the optimum levels.
<br>
<!-- Con el envejecimiento, todos nuestros sistemas fisiológicos disminuyen: nuestra
circulación se ralentiza pudiéndose llegar a estancar, nuestros niveles de
hormonas descienden y nuestra capacidad para digerir y absorber los alimentos se
reduce,  de forma que ya no funcionamos como anteriormente. La acupuntura
cosmética ayuda a revitalizar todos los sistemas corporales a un funcionamiento
óptimo. <br> -->
<br>

Facial acupuncture is not only therapeutic (for people who already have signs of
aging in the face) but also acts preventively so it is recommended for people who
are beginning to show signs of aging on the face etc. It works for anyone from 25
years of age because from that age the skin begins to lose its essential proteins,
including collagen and elastin. The condition of the skin not only
depends on the individual and his or her age but on several other factors - genetics,
damages, sun dammage, synthetic facial products, stress levels, anxiety and
lifestyle.<br>

<!-- La acupuntura facial no solo es terapéutica (para personas que ya tienen de
signos de envejecimiento en el rostro) sino también actúa de forma preventiva,
por eso se recomienda a las personas que empiezan a tener signos de envejecimiento
en el rostro etc.  Es recomendable para cualquier persona a partir de los 25 años
porque a partir de esa edad la piel empieza a perder sus proteínas esenciales,
entre ellas el colágeno y la elastina. El estado y condición de la piel no solo
depende del individuo y su edad sino también de varios otros factores - la
genética,  daños, abusos solares, productos sintéticos del rostro, niveles de
stress, ansiedad y el propio estilo de vida.<br> -->
<br>
<br>
<%= image_tag("face9", :class => "style_image4",) %>
<h1 class="off">What the Treatment Consists of</h1><br>

Our treatment consists of
several stages: The first session lasts one hour where the medical history is
reviewed. A diagnosis is made and treatment is individual and personalized. The
needles we use for the face are so thin that the insertion is hardly noticable.
Some points on other parts of the body can also be used to improve the
overall health of the individual and to support the facial treatment. The needles
are left in for about 30 minutes and meanwhile you can relax, rest and enjoy the
experience<br>
<!-- <br>
The treatment aims to improve the tone of the facial muscles, activate
the blood circulation and energy of the face, which will improve its nutrition
and aesthetic appearance. -->


<!-- Nuestro tratamiento consiste
en varias fases: La primera sesión dura una hora donde se repasa el historial
médico, se realiza el diagnóstico y se procede al tratamiento en función de cada
individuo. Las agujas que utilizamos para el rostro son tan finas que apenas se
notan durante su inserción.  Algunos puntos en otras partes del cuerpo también
pueden ser utilizados para mejorar la salud global de la persona y apoyar al
tratamiento facial. Las agujas se dejan insertadas durante aproximadamente unos
30 minutos mientras tanto usted podrá relajarse, descansar y disfrutar de la
experiencia.<br> -->
<br>
<!--
Una vez que se hayan retirado las agujas procederemos mediante la aplicación de
un rulo especial a hacer circular el sistema sanguíneo. Tras este procedimiento,
se aplicará un tónico y posteriormente aceites esenciales naturales (los productos
aplicados son de origen ecológico).  Al final del tratamiento le aconsejaremos,
basándonos en el diagnóstico de cada caso, acerca de algunos alimentos de
nutrición y hierbas aromáticas tal y como lo indica la medicina tradicional china.  Estos elementos no solo beneficiaran al rostro sino también a la salud global. <br> -->


<br>
<!-- <%= image_tag("face9", :class => "style_image2") %> -->
</body>
<br>
<br>
<br>
<br>
<br>
<!-- <%=image_tag("face9", :align=> "left")%>
<br>

<%= image_tag('face9', style: 'margin: 10px')%> -->


<h1 class="off4">Referencias</h1><br>

<p class="off4">1.	Donoyama N, Kojima A, Suoh S, Ohkoshi N, La acupuntura cosética para aumentar la apraiencia de la piel del rostro: estudio preliminar. Acupunt Med.   2012; 30(2):152–153. <br>

2.	Yun Y, Kim S, Kim M, Kim K, Park JS, Choi I. Efectos de la acupuntura cosmética en la elasticidad facial: Un estudio piloto y abierto. Evid Based Complement Alternat Med. 2013. 2013:1-5. <br>

3.	Liao J, Zhang L, Ke MG, Xu T. Efecto de la intervención electroacupuntura en la expresión de encimas metabólicas y colágeno del matrix extracelular. Zhen Ci Yan Jiu. 2013; 38(6):441-6, 510. <br>

4.	Le Louarn C, Buthiau D, Buis J. Envejecimiento estructural: El concepto de recurvo facial,  Aesthetic Plast Surg. 2007<br>


5.	Lee KM, Lim SC, Kim JS, Lee BH. Un estudio clínico de las arrugas faciales tratadas con acupuntura miso facial- medido por un sistema de fotografía de la piel facial.   J Korean Acu Moxibustion Soc. 2010. 27(1):101–107. <br>


6.	Park et al. Los efectos terapeuticos de la acupuntura a través del aumento de la angiogenesis granulogenesis funcional en la curación de heridas de ratas. Evid Based Complement Alternat Med. 2012; 2012:1-4. <br>


7.	Kuo TC, Lin CW, Ho FM. El efecto de las iritaciones y adormecimiento de la acupuntura en el flujo sanguineo de la piel Am J Chin Med. 2004. 32(1):117-29. <br>


8.	Barrett JB. La rejuvenacion de la acupuntura facial. Articulo de la cirugia estetica.. 2005. 25(4):419–424. <br>


9. Doran VC. Introducción a la revitalizacion facial en la acupuntura. Eur J of Oriental Med. 2007. 5(5):4-8. <br>


* Peer reviewed
</p>













</html>
