
<!-- La lista de químicos dañinos para la salud pueden ser tan comunes, que
pueden estar presentes en casi todos los cosméticos. Muchos productos
comerciales causan alergias, problemas de pigmentción, irritación de la
piel, trastornos hormonales; éstos agregados químicos pueden ser dañinos
para la salud a largo plazo, algunos de sus ingredientes pueden ser
cancerígenos y son usados por la industria cosmética sólo porque resultan
más económicos.
Si alguien tradujera la lista de componentes de los productos que
utilizamos, posiblemente se asombraría de los resultados antinaturales. -->
<!-- <h1 class="off">A Change of Consciousness</h1><br> -->

The detailed and ancient knowledge of the Chinese traditional practicioners
forms the basis for acupuncture. This knowledge was used to develop the
concept much further and apply it to the field of cosmetology with facial
acupuncture. Facial acupuncture is a technique which has an antiaging effect,
and offers very similar effects to those achieved with botox or other
chemical-based injections, which can often have unwanted side-effects.<br>
<br>
<h1 class="off">Why is this ancient method becoming such a popular technique?</h1><br>

<%= image_tag("kim-kardashian", :class => "style_image5") %>
Beauty treatments are the order of the day and acupuncture can be a great
ally to get the best look. On many occasions it is better than undergoing
other treatments like botox injections or expensive creams that in the end,
although they fulfill their mission, are extremely expensive treatments
for many people and can have side effects.
<!-- <%= image_tag("kim-kardashian", :class => "style_image4") %><br> -->
<br><br>
Nowadays, thanks to the excellent results it provides, more and more
Hollywood celebrities prefer an acupuncture treatment before botox
injections, fillers, facelifts or any other beauty method. And today,
on the aesthetic level it is revolutionizing antiage treatments.<br>
<br>
Cosmetic acupuncture is the latest trend in the United States, especially
in New York, where specialists in this therapy are almost unable to meet
the high demand. In recent years facial treatment with acupuncture has gained popularity.<br>
<br><%= image_tag("sandra bullock", :class => "style_image4") %>
<br>
In the last 10 years cosmetic acupuncture has become the main (natural)
way to combat aging of the skin. In Hollywood, numerous celebrity contracts
stipulate the need to undergo cosmetic acupuncture treatments. Celebrities
who use cosmetic acupuncture, include Madonna, Gwyneth Paltrow,
Sandra Bullock, Natalie Portman, Cher, Jennifer Aniston,
Robert Downey Jr, Cheryl Crow, Elle McPherson y Kim Kardashian.<br>

<!-- <%= image_tag("sex_and_city2", :class => "style_image4") %> -->
<br>
As of late cosmetic acupuncture has been attracting the attention of the media.
"The Irish Times" has recognized this treatment as "a viable alternative to
cosmetic surgery and the effects can be much deeper than simply improving
physical appearance."
<br>
<br>
The world's leading acupuncturists are playing a key role in introducing this
treatment into modern Western culture. Its treatment protocol has been featured
on major television news programs in Europe and the US and even appears
in "Sex and the City"!

<br><%= image_tag("sex_and_city2", :class => "style_image5") %>
<%= image_tag("sex_and_city", :class => "style_image4") %><br>

<br><br><br><br><br><br><br><br><br><br>
Due to the ever increasing demand in certian places
like New York and Los Angeles waiting lists for cosmetic
acupuncture treatments can be up to one year.<br>
