<h1 class="off">A Scientific Understanding </h1>
<br>
One of the mechanisms by which acupuncture works
is that with needle insertion, the body endures a micro-trauma that in turn
stimulates the injury repair system within the body. It is this natural healing
process that stimulates the production of collagen at the site of the needle
insertion. Regeneration of the dermis and epidermis produces new collagen and
elastin proteins. New skin tissue essentially appears younger.<br>

<!-- Uno de los mecanismos del funcionamiento de la acupuntura es que a través de la
inserción de la aguja, el tejido recibe un micro-trauma que de forma simultánea
estimula el sistema reparativo fisiológico. Este sistema, con su proceso de
curación natural, estimula la producción de colágeno en lugar de la inserción de
la aguja. La regeneración de la dermis y  epidermis estimula la producción de
nuevas proteínas de colágeno y elastina. Los tejidos de piel nueva aparecen más
jóvenes. <br> -->
<br>
<h1 id="colagen", class="off">Collagen</h1><br>

Collagen is a protein molecule that forms fibres. Collagen fibres are
found in all multicellular organisms and are secreted by connective tissue cells such
as fibroblasts *, as well as by other cell types. It is the most abundant
component of the skin and bone, making up 25% of the total mass of proteins in
mammals. It is the most important structural component of the deep layer of the
skin (Dermis), which is found in the skin, cartilage, bones, tendons and other connective
tissues<br>
<!-- <blockquote><p>El colágeno es una molécula proteica que forma fibras, las fibras
  colágenas; estas se encuentran en todos los organismos pluricelulares, son
  secretadas por las células del tejido conjuntivo como los fibroblastos*, así́ como
  por otros tipos celulares. Es el componente más abundante de la piel y de los
  huesos, cubriendo un 25% de la masa total de proteínas en los mamíferos. Se
  encuentra en la piel, Cartílago, huesos, tendones y otros tejidos conectivos. Es
  el componente estructural más importante de la capa profunda de la piel
  (Dermis).</p></blockquote><br> -->
<br>
<%= image_tag("colageno-elastina", :class => "style_image4") %>
<h1 id="elastin", class="off">Elastin</h1><br>

Elastin together with collagen and other structural elements, constitute the
weave of connective tissue. Elastin forms fibres that provide elasticity to
the tissue, comparable in its elastic property to natural rubber.

<!-- La elastina junto con el colágeno y otros elementos estructurales, constituyen la
trama del tejido conjuntivo.  La elastina forma fibras que confieren elasticidad
al tejido, comparable en esta propiedad elástica al caucho natural. <br>
<br> -->

Aggressive (climatic) and pathological (disease) factors affect the facial
muscles and the skin. With aging, hypotonia occurs
while the skin loses dehydration (deficiency of the yin of the lung,
the lung dominates the skin and the hair, its deficiency weakens the flow of
nutrients to the skin). The flaccidity forces muscles to work harder in
order to perform facial expressions, which causes muscular fatigue that is
not compensated by the body, leading to a slight decrease in the tone,
which provokes a vicious circle. The skin being constantly folded to
accompany the muscular movements, ends by breaking
its elastic fibers and producing expression lines or wrinkles.<br>

<!-- Los factores agresivos (climáticos) y patológicos (enfermedad), afectan los músculos
faciales y repercuten en la piel. Con el envejecimiento se produce hipotonía* a
nivel muscular y deshidratación a nivel de la piel (deficiencia de yin de pulmón,
El pulmón domina la piel y el vello, su deficiencia produce una débil nutrición de
la piel). La flacidez obliga al organismo a un esfuerzo mayor de sus músculos para
realizar las expresiones faciales, lo cual provoca fatiga muscular que no es
compensada por el organismo, llevando a una menor disminución del tono, por lo que
se entra en un círculo vicioso. La piel siendo constantemente plegada para
acompañar los movimientos musculares, termina rompiendo sus fibras elásticas;
surgiendo así las líneas de expresión o arrugas. <br> -->
<br>
<b>According to the epidermis.</b><br>
<br>
<b>Thick skin:</b> has a well developed stratum corneum, has a rough
appearence, the pores are dilated and of opaque yellowish color,
due to the keratin.<br>
<b>Thin skin:</b> has a thin cornea layer, a uniform surface,
pores which are barely visible and a translucent pink color.<br>
<br>

<b>According to the dermis.</b><br><br>

The firmness, elasticity and recovery of the skin basically
depend on the characteristics of the dermis. It can be divided
into:<br><br>
<b>Toned skin:</b> has tension and elasticity.<br>
<b>Flaccid skin:</b> has lost elasticity and resilience
after undergoing deformation. Aged skins have these characteristics
and even young skins which have suffered a sudden thinning
or certain diseases.<br><br>

<b>According to the secretions.</b><br><br>

The epicutaneous emulsion or hydrolipidic mantle is the emulsion
formed by the water coming from the sweat glands and the environment,
together with the lipids of the sebaceous glands and the cornea layer,
a film that covers the stratum corneum, helping to maintain the
barrier function.<br>

<!-- Se utilizan diferente criterios para clasificar la piel.<br>
<br>
<b>Según la epidermis.</b><br><br>
Piel gruesa: aquella que posee un estrato córneo bien desarrollado. La
suelen presenter personas expuestas de forma crónica al sol, ya que uno
de sus efectos es la hiperqueratosis (engrosamiento del estrato córneo).
Su aspecto es Tosco, son los poros dilatados y de color opaco amarillento,
debido a la queratina.<br>
Piel Delgada: Posee una capa córnea fina, presenta una superficie uniforme
poros poco visible y de color sonrosado traslúcido.<br>
<br>
<b>Según la dermis.</b><br><br>
La firmeza y la elasticidad y recuperación de la piel, dependen
básicamente de las características de la dermis. Se puede dividir en:<br>
Piel tónica: Es aquella que presenta tension y elasticidad.<br>
Piel Flácida: Aquella que ha perdido la elasticidad y la capacidad de
recuperación después de someterse a una deformación. Presenta éstas
caratcerísticas pieles envejecidas e incluso pieles jóvenes que han
sufrido un adelgazamiento brusco o ciertas enfermedades.<br>
<br>
<b>Según las secreciones.</b><br><br>
La emulción epicutánea o manto hidrolipídico es la emulsion formada por
el agua procedente de las glándulas sudoríparas y el ambiente, junto con
los lípidos de las glándulas cebáceas y de la capa cornea. El una película
que recubre el estrato córneo, ayudando al mantenimiento de la función de
barrera. 2<br> -->

<br>
<%= image_tag("SkinComparison2", :class => "style_image") %><br>
*O/W = oil in water, W/O = water in oil
<br>
<br>

<h1 id="neurotransmitters", class="off"> The Role of
  Neurotransmitters and Aminoacids in the Regenerative Process</h1><br>

<b>Arginine</b> plays an important role in cell division, the healing of
wounds, immune function, and the release of hormones. <br>

<br>

<b>Asparagine</b> is an amino acid that is used in the biosynthesis of
proteins.<br>
<br>

<b>Gamma-Aminobutyric acid(γ-Aminobutyric acid) GABA </b> is the chief
inhibitory aminoacid in the mammalian central nervous system. GABA
is also directly responsible for the regulation of muscle tone.<br>

<br>

<b>Glicine</b> is a significant component used in the method of protein
analysis. It serves as a buffering agent, maintaining optimal pH levels. <br>

<br>

<b>Acetylcholine</b> in the serum exerts a direct effect
on vascular tone by binding to muscarinic receptors present on vascular
endothelium leading to vasodilation.<br>

<br>
<%= image_tag("Muscles", :class => "style_image") %>
<!-- <%= image_tag("face_muscles", :class => "style_image") %>
<%= image_tag("face_muscles2", :class => "style_image") %><br><br> -->
<br><br>
<!-- <b>Dopamine</b> functions primarily as a local chemical
messenger. In blood vessels, it inhibits norepinephrine release and acts
as a vasodilator (at normal concentrations).
<br> -->

<br>
<!-- Though not a cure for wrinkles, fine lines may be eliminated while deeper
wrinkles tend to diminish considerably. Other likely results include
eyebags being reduced or eliminated, puffiness of the face reduced or
banished, facial colouring equalised (whether too red or too pale),
drooping eyelids lifted, and double chins minimized and in some cases
eliminated. Drooping eyelids and eyebrows, jowls and ‘turkey necks’ can
be observed as having lifted and toned. With the profound increase of
local circulation of qi and blood to the face and stimulation of the
movement of lymph, skin texture and colouring improves visibly, the
moisture content of the skin improves, muscle tone improves, and pore
size is reduced. Techniques can also be employed to eliminate broken
capillaries. Visible stress and habitual expressions from the face melt
away. -->
<br>
