<h1 class="off">Como Funciona La Acupuntura Cosmética</h1><br><br>

Uno de los mecanismos del funcionamiento de la acupuntura es que a
través de la inserción de la aguja, el tejido recibe un micro-trauma
que de forma simultánea estimula el mecanismo reparativo fisiológico, que
con su proceso de curación natural, estimula la producción
de colágeno en lugar de la inserción de la aguja. La regeneración de la
dermis y  epidermis estimula la producción de nuevas proteínas de
colágeno y elastina. Los tejidos de piel nueva aparecen más jóvenes. <br>
<br>
<h1 id="colageno", class="off">El Colágeno</h1><br>


El colágeno es una molécula proteica que forma fibras, las fibras colágenas;
estas se encuentran en todos los organismos pluricelulares, son secretadas
por las células del tejido conjuntivo como los fibroblastos, así́ como por otros tipos celulares. Es el componente más abundante de la piel y de los huesos cubriendo un 25% de la masa total de proteínas en los mamíferos. Se encuentra en la piel, cartílago, huesos, tendones y otros tejidos conectivos. Es el componente estructural más importante de la capa profunda de la piel (Dermis).<br>
<br>
<%= image_tag("colageno-elastina", :class => "style_image4") %>
<h1 id="elastina", class="off">La Elastina</h1><br>

La elastina junto con el colágeno y otros elementos estructurales, constituyen la trama del tejido conjuntivo. La elastina forma fibras que confieren elasticidad al tejido, comparable en esta propiedad elástica al caucho natural.<br>
<br>
Los factores climáticos y patológicos, afectan los músculos faciales y repercuten en la piel. Con el envejecimiento se produce hipotonía a nivel muscular y deshidratación a nivel de la piel (deficiencia de Yin de pulmón, este domina la piel y el vello, su deficiencia produce una débil nutrición de la piel). La flacidez obliga al organismo a un esfuerzo mayor de sus músculos para realizar las expresiones faciales, lo cual provoca fatiga muscular que no es compensada por el organismo, provocando una disminución del tono, por lo que se entra en un círculo vicioso. La piel  está siendo constantemente plegada para acompañar los movimientos musculares, termina rompiendo sus fibras elásticas; surgiendo así́ las líneas de expresión o arrugas.  <br>
<br>
<br>

<h1 class="off">Evidencias científicas</h1><br>

Al envejecer perdemos aceites naturales e hidratación en la piel, lo que provoca un cambio en la tonalidad, complexión y firmeza de la piel. El sistema tegumentario también se ve afectado, perdiendo su elasticidad, y como consecuencia aparecen arrugas y flacidez. Varias investigaciones han demostrado que tras realizar un tratamiento de acupuntura cosmética, la piel aumenta su contenido en aceites naturales y agua, y mejora de forma significativa la elasticidad y formación de colágeno en la piel (2,3).<br>
<br>
Las investigaciones demuestran que la acupuntura cosmética también mejora
el tono mimético del rostro (2,4). Cuando los músculos bajo la piel estén
tonificados, la piel que los recubre experimenta mayor firmeza, lo cual
reduce las líneas finas, de expresión y arrugas.<br>
<br>
Numerosos estudios han demostrado que la acupuntura reduce la
inflamación (6,7,8) e incrementa la circulación (1,6,7,8). La mejora
de la circulación ayuda a eliminar toxinas y distribuye los nutrientes
vitales a la piel proporcionando una apariencia con más brillo y
vitalidad en el rostro.<br>
<br>
<!-- <%=image_tag("face man3", :class => "style_image4") %> -->

        Un estudio (2008) realizado
        por el Hospital de la Universidad de Liaoning se llevó a cabo
        para investigar el mecanismo de la acupuntura en la lucha contra
        el envejecimiento de la piel, el estudio llegó a la siguiente conclusión:
       - La Acupuntura puede modificar el estado de envejecimiento de la
       piel, posible por el fortalecimiento de la actividad de los
       fibroblastos en la piel y por el aumento del contenido de colágeno
       soluble (10).
       <br><br>
Un estudio muy significativo de la acupuntura cosmética en la revista
"Aesthetic
Surgery Journal” concluyó: los pacientes son muy conscientes de los
cambios- desde una mayor sensación de bienestar, con un aspecto bien relajado,
hasta una reducción significativa de las arrugas. Teniendo en cuenta estos
resultados clínicos y el aumento del apoyo científico, los cirujanos
estéticos cada vez más están procurando añadir la antigua técnica
de "state-of-the-art" practice (práctica de vanguardia), para traerla
a un primer plano de la atención integral.


<br>

<!-- <h1 class="off">Clasificación</h1><br>
<b>Según la epidermis.</b><br><br>
Piel gruesa: aquella que posee un estrato córneo bien desarrollado. -->

<!-- Su aspecto es hosco, los poros están abiertos y la apariencia de la
tez puede ser opaca amarillenta,
debido a la queratina.<br>
Piel Delgada: Posee una capa córnea fina, presenta una superficie uniforme
poros poco visible y de color sonrosado traslúcido.
<br>
<br>
<b>Según la dermis.</b><br><br>
La firmeza, la elasticidad y la recuperación de la piel, dependen
básicamente de las características de la dermis. Se puede clasificar en:<br>
Piel tonificada: Es aquella que presenta tensión y elasticidad adecuada.<br>
Piel flácida: Aquella que ha perdido la elasticidad y la capacidad de
recuperación después de someterse a una deformación. Presenta estas
características pieles envejecidas e incluso pieles jóvenes que han
sufrido un adelgazamiento brusco o ciertas enfermedades.<br>

<br>
<b>Según las secreciones.</b><br><br>
La emulsión epicutánea o manto hidrolipídico es la emulsión formada por
el agua procedente de las glándulas sudoríparas y el ambiente, junto con
los lípidos de las glándulas sebáceas y de la capa córnea. La película
recubre el estrato córneo, ayudando al mantenimiento de la función de barrera.<br>

<br>
<%= image_tag("SkinComparison", :class => "style_image") %><br>
*O/W = aceite en agua, W/O = agua en aceite -->
<br><br>
<br>

<h1 id="neurotransmisores", class="off">La Función de los Neurotransmisores
  y Aminoácidos en el Proceso Regenerativo</h1><br>


<br> Los neurotransmisores y aminoácidos juegan un rol importante en la regeneración
de la piel, la curación de heridas, la liberación de hormonas,
la biosíntesis de proteínas, la regulación de tono muscular, la vasodilatación
y en el mantenimiento de niveles óptimos de pH.
<!-- Entraremos más en detalle con respeto a sus funciones en el apartado de
<a href="ciencia#neurotransmisores">ciencia</a>. -->
<br><br>

<b>La arginina</b> tiene un papel importante en la división celular, la
curación de las heridas, la función inmune y la liberación de hormonas. <br>
<br>
<b>La asparagina</b> es un aminoácido que se utiliza en la biosíntesis de
proteínas. <br>
<br>

<b>Ácido gamma-aminobutírico GABA</b> es el aminoácido inhibidor
principal en el sistema nervioso central de los mamíferos. GABA es también
directamente responsable de la regulación del tono muscular. <br>
<br>
<b>La glicina</b> es un componente importante utilizado en el método de
análisis de proteínas. Sirve como agente tampón, manteniendo los niveles
optimos de pH. <br>
<br>
<b>La acetilcolina</b> en el suero ejerce un efecto directo sobre el tono
vascular porque se pega a los receptores muscarínicos presentes en el
endotelio vascular lo que causa la vasodilatación. <br>
<br>
<!-- <b>La dopamina</b> funciona principalmente como un mensajero químico
local. En los vasos sanguíneos, inhibe la liberación de norepinefrina y
actúa como un vasodilatador (a concentraciones normales). <br> -->
<br>

<h1 class="off">Los Musculos del Rostro y su Funcionamiento</h1>


<br><%= image_tag("Muscles", :class => "style_image4") %>
<!-- <%= image_tag("face_muscles", :class => "style_image") %>
<%= image_tag("face_muscles2", :class => "style_image") %><br><br> -->
<br>
<!-- -Horizontal forehead creases appear when the frontalis muscle tightens.<br> -->

<span class=brown_text>1. Pliegues horizontales en la frente</span> aparecen cuando el músculo frontal se endurece.<br>

<!-- -Vertical glabellar furrows, or 'frown lines', result from tightening of the corrugator supercilli muscle and depressor supercilii muscle. <br> -->

<span class=brown_text>2. Surcos glabelares verticales, o líneas en la frente</span> son consecuencias del endurecimiento del músculo superciliar y el músculo depresor superciliar. <br>

<!-- -Tranverse creases at the nasal bridge are caused by tightening of the procerus muscle -->
<span class=brown_text>3. Pliegues transversos en el puente nasal</span> son causados por el endurecimiento del músculo prócer. <br>

<!-- -Lines around the eyes, or 'crows feet' are formed when the orbicularis oculi muscle tightens -->

<span class=brown_text>4. Líneas alrededor de los ojos, o patas de gallo</span> se forman cuando el músculo orbicular del ojo se endurece. <br>

<!-- -Vertical lip lines, or perioral rhytides or smokers lines are induced by tightening of superficial muscle fibres of the orbicularis oculi muscle. <br> -->

<span class=brown_text>5. Líneas verticales de los labios, o Rititas periorales o líneas de fumador</span> se forman cuando se endurecen las fibras de músculos superficiales del músculo orbicular del ojo. <br>

<!-- -Nose to mouth lines, or nasolabial lines, result from tightening of the muscles which elevate the corner of the mouth and the upper lip. <br> -->

<span class=brown_text>6. Líneas nasolabiales</span> resultan del endurecimiento de los músculos que elevan la esquina de la boca y labio superior. <br>

<!-- -Lines going down from the corner of the mouth or marionette lines, are formed when the despressor anguli oris muscle tightens. <br> -->
<span class=brown_text>7. Líneas que conducen de la esquina de la boca o líneas marionetas</span> se forman cuando se endurece el músculo depresor del ángulo de la boca. <br>

<!-- -Horizontal mental or chin crease is caused by tightening of the mentalis muscle -->
<span class=brown_text>8. Se causa un pliegue horizontal de la barbilla</span> cuando se endurece el músculo mentoniano.
<br>
<!-- -Horizontal creases or vertical bands on the neck result from tightening of the platysma muscle. <br> -->
<span class=brown_text>9. Pliegues horizontales o bandas verticales en el cuello</span> son causados por el endurecimiento del músculo platisma. <br>

<br>
<br><br>
<h1 class="off4">Referencias</h1><br>

<p class="off4">1.	Donoyama N, Kojima A, Suoh S, Ohkoshi N, La acupuntura cosética para aumentar la apraiencia de la piel del rostro: estudio preliminar. Acupunt Med.   2012; 30(2):152–153. <br>

2.	Yun Y, Kim S, Kim M, Kim K, Park JS, Choi I. Efectos de la acupuntura cosmética en la elasticidad facial: Un estudio piloto y abierto. Evid Based Complement Alternat Med. 2013. 2013:1-5. <br>

3.	Liao J, Zhang L, Ke MG, Xu T. Efecto de la intervención electroacupuntura en la expresión de encimas metabólicas y colágeno del matrix extracelular. Zhen Ci Yan Jiu. 2013; 38(6):441-6, 510. <br>

4.	Le Louarn C, Buthiau D, Buis J. Envejecimiento estructural: El concepto de recurvo facial,  Aesthetic Plast Surg. 2007<br>


5.	Lee KM, Lim SC, Kim JS, Lee BH. Un estudio clínico de las arrugas faciales tratadas con acupuntura miso facial- medido por un sistema de fotografía de la piel facial.   J Korean Acu Moxibustion Soc. 2010. 27(1):101–107. <br>


6.	Park et al. Los efectos terapeuticos de la acupuntura a través del aumento de la angiogenesis granulogenesis funcional en la curación de heridas de ratas. Evid Based Complement Alternat Med. 2012; 2012:1-4. <br>


7.	Kuo TC, Lin CW, Ho FM. El efecto de las iritaciones y adormecimiento de la acupuntura en el flujo sanguineo de la piel Am J Chin Med. 2004. 32(1):117-29. <br>


8.	Barrett JB. La rejuvenacion de la acupuntura facial. Articulo de la cirugia estetica.. 2005. 25(4):419–424. <br>


9. Doran VC. Introducción a la revitalizacion facial en la acupuntura. Eur J of Oriental Med. 2007. 5(5):4-8. <br>

10. Lu Y. (2008) Jan, 28 (1) :61-4.
</p>

<!-- Aunque no sea una cura mágica para las arrugas, se pueden eliminar por
completo las líneas finas mientras que las arrugas suelen disminuir
considerablemente. Otros resultados probables incluyen la reducción o
eliminición de las bolsas bajo los ojos, los hinchazones se reducen
bastante, se restaura el color/brillo natural al rostro, parpados caidos,
y se minimiza los groseros y en algunos casos los eliminan. Las parpados
caidos, cejas, mandibulas y patas de gallo se levantan y se tonifican. Con
el profundo incremento de la circulación local de chi y sangre al rostro y
la estimulacion del movimiento de linfa, la textura de la piel y su color
mejora de forma visible, el contenido de humedad de la piel mejora, el tono
muscular mejora, y el tamaño de los poros se reduce. Las técnicas también
pueden ser empleadas para eliminar capilares rotas. El estrés visible y
expresiones habituales se derriten del rostro. -->
