<!-- <h1>Tratamiento facial rejuvenecedor</h1><br>
<br> -->

<html>
<body>
  <h1 class="off">Acupuntura General</h1><br>



 La acupuntura es una terapia ampliamente utilizada en todo el mundo;
 aunque su desarrollo inicial se sitúa en oriente hace más de dos mil
 años, hoy en día está introducida en casi todos los sistemas sanitarios
 de los países occidentales.

 Es una medicina preventiva y terapéutica, que lleva intrínseca la
 filosofía de llevar una vida ordenada y equilibrada. Siguiendo un
 enfoque macroscópico de la salud y sus desórdenes, el diagnóstico
 según la MTC se basa en observar a la persona globalmente, en todo
 su contexto, ya que se considera que ningún fenómeno puede ser
 evaluado de forma aislada. Al contrario que en la medicina convencional,
 lo que se pretende es tratar más a la persona que a la enfermedad.


<br><br>
  La organización mundial de Salud (OMS) reconoce desde 1979 que la
  acupuntura es eficaz para el tratamiento de, al menos, 49 desórdenes
  y condiciones, lista que se ha ampliado gracias a la investigación en
  años posteriores. En el 2004, la OMS informó que ha sido demostrado la
  eficacia de la acupuntura, tanto en experimentos de laboratorio como en
  ensayos clínicos.
  Entre las condiciones que se indican en los informes
  figuran:<br><br>

  <%=image_tag("sintomas", :class => "style_image6") %>
<br>

<b>La acupuntura tiene excelentes resultados tratando desórdenes y dolores
de tipo muscular e articular, ya sean de carácter agudo o crónico</b>. También
tiene buenos resultados con ciertas condiciones como el insomnio, la
osteoartritis, la infertilidad femenina, la obesidad y las
alergias.<br><br>

En Acupuntura Simón Verde se ofrecen dos servicios - La acupuntura
general para tratar desórdenes y condiciones de la salud integral y
también ofrece el demandado servicio de acupuntura cosmética.
Dado que se suele conocer menos acerca de la acupuntura cosmética
entraremos en más detalle de esta faceta de la acupuntura tradicional.<br>
<br>
<h1 class="off">Acupuntura Cosmética</h1><br>
La acupuntura cosmética rejuvenecedor facial o el tratamiento anti age
con acupuntura es una terapia segura,
efectiva y milenaria diseñada para ayudar a que el organismo mejore
la apariencia y se sienta más joven, mientras que se reducen los
signos de envejecimiento. Este tratamiento promueve una apariencia
más joven y vital dado que estimula la producción de
 <a href="ciencia#colageno">colágeno</a> y <a href="ciencia#elastina">elastina</a>
 natural, además de favorecer la circulación y mejorar la elasticidad de la dermis. La acupuntura cosmética surge de los principios y fundamentos de la medicina oriental. Al igual que en la acupuntura tradicional, la acupuntura cosmética implementa la diagnosis diferencial y el uso de agujas para mover o equilibrar el chi, la sangre, y líquidos dentro del organismo, además restaurar y mantener la harmonía global. <br>

<br><%= image_tag("face_points", :class => "style_image4") %>
<br>
<h1 class="off">Beneficios</h1><br>

•	Reduce las líneas finas de expresión y arrugas<br>
•	Se disminuyen los poros abiertos<br>
•	Reduce o elimina las bolsas <br>
•	Levanta las mandíbulas flácidas<br>
•	Suaviza signos de estrés en el rostro<br>
•	Tonifica la piel y los músculos<br>
•	Reduce la papada<br>
•	Ilumina el cutis<br>
•	Reduce hinchazón de la cara<br>
•	Iguala el tono facial (demasiado rojizo o pálido)<br>
•	Levanta y tonifica cejas caídas<br>
•	La textura y la coloración mejoran visiblemente<br>
•	La humectación de la piel mejora<br>
•	Mejora el tono muscular y la contracción dérmica<br>
•	Atenua arrugas existentes<br>
•	Previene la aparición de nuevas arrugas<br>
<!-- •	Restablece más brillo de los ojos<br>
•	Rehabilita desórdenes de paralisis facial<br>
•	Refresca los ojos<br>
•	Piel más suave y humectada<br>
•	Reduce el estrés evidente en la cara<br>
•	Disminuye el proceso de envejecimiento desde adentro<br>
•	Saca e irradia la belleza interior.<br>
•	Promueve la salud y el bienestar global<br> -->
<!-- <br> -->
<!-- ademas de los beneficios en el rostro el tratamiento sirve para tratar el organismo integral. -->
<br>
Un informe de investigación (1996) publicado en el "International Journal
of Clinical Acupuncture” informó que entre los 300 casos tratados
con acupuntura facial y la acupuntura cosmética, 90% tienen resultados
evidentes después de sólo un tratamiento.
<br><br>
<!-- La acupuntura tiene efectos neuroendocrinos y beneficia la regulación
hormonal. Los niveles de estrógeno disminuyen con la edad, lo que acelera
el proceso de envejecimiento de la piel. El res establecimiento del equilibrio hormonal beneficia muchos aspectos del organismo, incluyendo algunas condiciones de la piel como el acné hormonal y la piel seca que a menudo acompañan la menopausia. <br>
<br><br> -->


<br>
<h1 class="off">Aplicación Preventiva y Terapéutica</h1><br>
<%=image_tag("treatment2", :class => "style_image5") %>

Con el envejecimiento, la fisiología del organismo se altera: la circulación se ralentiza pudiéndose llegar a estancar, los niveles de hormonas descienden y la capacidad para digerir y absorber los alimentos se reduce. La acupuntura cosmética ayuda a revitalizar todos los siste
 corporales a un funcionamiento óptimo.<br>
<br>
La acupuntura facial no sólo es terapéutica (para personas que ya tienen
de signos de envejecimiento en el rostro) sino también actúa de forma
preventiva, por eso se recomienda a las personas que empiezan a tener
signos de envejecimiento en el rostro. Es recomendable para cualquier
persona - tanto para mujeres como para hombres - a partir de los 25
años porque a partir de esa edad la piel empieza a perder sus proteínas
esenciales, entre ellas el colágeno y la elastina. El estado y condición
de la piel no sólo depende del individuo y su edad sino también de varios
otros factores - la genética, daños, abusos solares, productos sintéticos,
niveles de estrés, ansiedad y el estilo de vida.<br>
<br>

Uno de los fundamentales conceptos que he aprendido a lo largo de mis
experiencias prácticas es que la acupuntura cosmética no sólo trata la
belleza sino la salud y el bienestar global. Si nuestro interior esta
sano y equilibrado, la belleza emerge. Cuando nos vemos más guapos,
nos sentimos mejor y por lo tanto,  si nos sentimos mejor, tendremos
un mejor aspecto<br><br>

La piel es la capa más externa del cuerpo así que es el lugar más
significativo en la manifestación de la belleza. Cuando tratamos
los problemas de la piel, se deben tener en cuenta no sólo las zonas
locales del rostro sino los órganos que lo influencian. Cualquier
desequilibrio en el sistema energético de los órganos internos
puede resultar en una condición en la piel. Cuando se corrigen tales
desequilibrios de forma local y distal, los síntomas de la piel
mejoran o desaparecen. Las personas quieren ver resultados inmediatos
(sobre todo en la acupuntura cosmética) sin embargo también quieren
que sea un tratamiento eficaz a largo tiempo y la acupuntura cosmética
logra obtener esto de forma natural y sin conllevar efectos
secundarios. <br><br>
<br>

<!-- Artritis reumatoide - Depresión<br>
Dolor de cabeza - Nauseas y vomitos<br>
Dolor Lumbar - Hipotensión y Hipertensión<br>
Dolor cervical/del cuello - Dismenorrea<br>
Ciática - Rinitis<br>
Esguince - Patologías del sistema digestivo<br>
Codo de tenista - Cólico renal<br>
Problemas del hombro - Dolor post operatorio<br><br> -->
<!-- <br>
<%= image_tag("face9", :class => "style_image4",) %>
<h1 class="off">¿En Qué Consiste la Terapia?</h1><br> -->

<!-- La primera sesión dura una hora y cuarto donde se explica el proceso y
se repasa el historial médico. Tras la evaluación se determinan los
diagnósticos y se procede al tratamiento individualizado.
Las agujas que se usan para el rostro son tan finas que apenas se notan
durante su inserción, y en la mayoria de los casos resulta en una sensación
placentera. Se usan algunos puntos de acupuntura en otras zonas del cuerpo, con
el propósito de mejorar la salud global del paciente y apoyar al tratamiento
facial. Las agujas se dejan insertadas durante aproximadamente unos 30
minutos mientras tanto usted podrá relajarse, descansar y disfrutar de
la experiencia.<br>
<br>
Una vez que se hayan retirado las agujas se aplica un sérum de ácido hialurónico.
A continuación se aplica una crema de colágeno natural y se procede a estimular el
sistema vascular mediante masajes con rodillos de jade y piedras gua sha que
permiten mejorar el flujo sanguíneo. También se da un masaje facial enfocado
en quitar las tensiones de los músculos faciales y promover el drenaje linfático.
Después del masaje se aplica un hidratante pro colágeno. El final de la terapia
está enfocado en el tratamiento de los síntomas diagnosticados basándose en la
nutrición y terapia herbal, tal y como lo indica la medicina tradicional china.
Estos elementos no solo benefician al rostro sino también a la salud integral. -->
<!-- go into different phases of what you want to achieve not what you ll do. i.e.
find out case history, relax your body, to the treatment (whatever that will be ??),
smooth the face, give advice on fitoterapia, "prescribe" herbs and foods. -->

<!-- Una vez que se hayan retirado las agujas se aplica un serum de acido hialurónico.
A continucaión se aplica una crema de colageno natural y se procede a estimular el
sistema vascular mediante masajes con rodillos de jade y piedras gua sha que
permiten mejorar elflujo sanguíneo. Ahora se da un masaje facial enfocado en
quitar las tensiones de los musculos faciales y promover el drenaje linfatico.
Despues del masaje se aplica un hidratante de colageno. -->

<!-- musculos faciales y promover el drenaje linfatico.
</del> para aumentar los efectos de
las fases previas.  Tras este procedimiento, se aplica un tonificante y
posteriormente aceites esenciales naturales (de origen ecológico). El final -->

<!-- El final de la terapia está enfocado en el tratamiento de los síntomas diagnosticados
basándose en nutrición y terapia herbal, tal y como lo indica la medicina
tradicional china. Estos elementos no solo benefician al rostro sino también
a la salud integral.<br> -->
<br>
<!-- El tratamiento local tiene por finalidad, mejorar el tono de los músculos faciales, activar la circulación sanguínea y energética del rostro, con el que mejora su nutrición y apariencia estética. -->
<br><!-- <%= image_tag("face9", :class => "style_image2") %> -->
</body>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- <%=image_tag("face9", :align=> "left")%>
<br>

<%= image_tag('face9', style: 'margin: 10px')%> -->


<h1 class="off4">Referencias</h1><br>

<p class="off4">1.	Donoyama N, Kojima A, Suoh S, Ohkoshi N, La acupuntura cosética para aumentar la apraiencia de la piel del rostro: estudio preliminar. Acupunt Med.   2012; 30(2):152–153. <br>

2.	Yun Y, Kim S, Kim M, Kim K, Park JS, Choi I. Efectos de la acupuntura cosmética en la elasticidad facial: Un estudio piloto y abierto. Evid Based Complement Alternat Med. 2013. 2013:1-5. <br>

3.	Liao J, Zhang L, Ke MG, Xu T. Efecto de la intervención electroacupuntura en la expresión de encimas metabólicas y colágeno del matrix extracelular. Zhen Ci Yan Jiu. 2013; 38(6):441-6, 510. <br>

4.	Le Louarn C, Buthiau D, Buis J. Envejecimiento estructural: El concepto de recurvo facial,  Aesthetic Plast Surg. 2007<br>


5.	Lee KM, Lim SC, Kim JS, Lee BH. Un estudio clínico de las arrugas faciales tratadas con acupuntura miso facial- medido por un sistema de fotografía de la piel facial.   J Korean Acu Moxibustion Soc. 2010. 27(1):101–107. <br>


6.	Park et al. Los efectos terapeuticos de la acupuntura a través del aumento de la angiogenesis granulogenesis funcional en la curación de heridas de ratas. Evid Based Complement Alternat Med. 2012; 2012:1-4. <br>


7.	Kuo TC, Lin CW, Ho FM. El efecto de las iritaciones y adormecimiento de la acupuntura en el flujo sanguineo de la piel Am J Chin Med. 2004. 32(1):117-29. <br>


8.	Barrett JB. La rejuvenacion de la acupuntura facial. Articulo de la cirugia estetica.. 2005. 25(4):419–424. <br>


9. Doran VC. Introducción a la revitalizacion facial en la acupuntura. Eur J of Oriental Med. 2007. 5(5):4-8. <br>
10. Lu Y. (2008) Jan, 28 (1) :61-4.
</p>













</html>
