<!-- Hay una presión constante en la sociedad actual para lograr el alto nivel
de belleza. Hay una abundancia de productos químicos disponibles hoy en
día que no estaban en el pasado y al hacer que aparezca más hermosa en el
corto plazo, en realidad daña su piel a largo plazo. El uso de productos
químicos en la piel viene con el precio de hacer que la piel envejece más
rápido. La acupuntura cosmética es una manera natural de mejorar su piel
no sólo en la superficie, sino profundamente en el tejido de la piel.<br> -->
<h1 class="off">Comparativo con otros procesos</h1><br>

<!-- Hasta hace algunos años, la única alternativa para erradicar las arrugas
era el Botox, los rellenos, peelings químicos o cirugías estéticas
invasivas. -->
Inyecciones de Botox, rellenos de colágeno o lifting faciales
son las opciones más frecuentes a las que recurren las personas que quieren
tratar de minimizar los efectos del paso del tiempo en su rostro.  No
obstante, el alto coste de estos tratamientos y los riesgos asociados a
ellos suponen un freno para muchos a la hora de decantarse por estas opciones.

Procesos como el botox puede resultar
adictivas dado que son tratamientos con una vida corta en donde dos/tres meses
después de aplicarse, los efectos de rejuvenicimiento desaparecen y las arrugas
regresan en ocasiones mas acentuados que cuando se empezó el tratamiento. Como
también son métodos relativamente nuevos aún desconocemos sus efectos
secundarios a largo plazo.
<!-- No todo el mundo está dispuesto a sufrir los inconvenientes de un
postoperatorio (la cirugía plástica es un método que conlleva muchos
riesgos, entre otros,  posibles resultados no satisfactorios para el
paciente). -->
<br>

<br>
<%= image_tag("TreatmentComparison", :class => "style_image") %><br>
*con sesiones de mantenimiento<br>
<br>
La acupuntura es la alternativa perfecta para personas que prefieren
escoger el camino más natural a la hora de cuidar su apariencia, así
evitando todos los efectos secundarios negativos que conllevan otras terapias.
<br><br>
<!-- <h1 class="off">¿Cuantas Sesiones son Necesarias?<h1> <br> -->


Los conocimientos precisos que desde siempre han tenido los médicos chinos
y de los que se nutre la acupuntura, permite llevar el concepto mucho más
allá y llegar a la cosmetología con la acupuntura facial, una técnica que
llega a tener un efecto antienvejecimiento que ofrece unos resultados muy
parecidos a otros tratamientos que conllevan efectos secundarios.<br>
<br>

<h1 class="off">Este Método Natural se ha Convertido en una Técnica
  Anti Aging Muy Poplular
Popular?</h1>

<%= image_tag("kim-kardashian", :class => "style_image5") %>
Los tratamientos de belleza están a la orden del día y la acupuntura puede ser un
estupendo aliado para conseguir el mejor aspecto. En muchas ocasiones es mejor que
someterse a otros tratamientos como inyecciones de botox o caras cremas que finalmente,
aunque cumplen su cometido son tratamientos extremadamente caros para muchos bolsillos
o conllevan efectos secundarios.<br>
<br>
Hoy en día, gracias a los excelentes resultados que proporciona, son cada vez más
las famosas de Hollywood que prefieren un tratamiento con acupuntura antes que
 otros métodos de belleza. Y hoy
su efecto a nivel estético está revolucionando los tratamientos antienvejecimiento.  <br>
<br>
La acupuntura cosmética es la última tendencia en Estados Unidos, especialmente
en Nueva York, donde los especialistas en esta terapia están casi sin citas
disponibles para cubrir la gran demanda de los interesados. En los últimos
años el tratamiento facial con acupuntura ganó una gran popularidad y adeptas.
<br>
<br><%= image_tag("sandra bullock", :class => "style_image4") %><br>

La acupuntura se ha convertido en una de las principales formas (naturales) de combatir el envejecimiento. En Hollywood hasta viene estipulado en muchos de los contratos que tienen numerosas celebridades la obligación a realizar sesiones de acupuntura cosmética. La lista de actrices y cantantes que usan la acupuntura cosmética, incluyen Madonna, Gwyneth Paltrow, Sandra Bullock, Natalie Portman, Cher, Jennifer Aniston, Robert Downey Jr, Cheryl Crow, Elle McPherson y Kim Kardashian.

<br>
<br>
<br>
La acupuntura cosmética está atrayendo la atención de los medios. "The Irish Times”
ha reconocido este tratamiento como "una alternativa viable a la cirugía estética
y los efectos pueden ser mucho más profundos que una simple mejora de la apariencia
física".
<br>
<br>
Los principales acupuntores del mundo están haciendo un papel fundamental en la
introducción de este tratamiento en la cultura occidental moderna. Su protocolo
de tratamiento se ha presentado en importantes programas de noticias de
televisión de Europa y EEUU. Incluso aparece en "Sex and the City”!  <br>

<%= image_tag("sex_and_city2", :class => "style_image5") %>
<%= image_tag("sex_and_city", :class => "style_image4") %><br>

<br><br><br><br><br><br><br><br><br><br>No es de sorprender que en algunas
clínicas en Nueva York y Los Ángeles las listas de espera sean de un año para
los tratamientos de acupuntura cosmética y que sea un servicio muy demandado
por todo el público incluyendo  ricos y famosos.<br>

<br>
