<div align="center">
  <h3>Envianos un mensaje</h3>
<br>
  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :required => true %><br>
    <%= f.input :email, :required => true %><br>
    <%= f.input :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Enviar mensaje', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>

<br>
Acupuntura Simon Verde<br>
<br>
Calle Fernan Caballero <br>
4 Gelves (Simon Verde)<br>
41120<br>
Sevilla<br>
<br>(+34) 609 942 706<br>
<br>
<%= image_tag 'sevilla_map.PNG' %><br>
<br>
<%= image_tag 'acupuncture map.PNG' %>
