<div align="center">
  <h3>Envianos un mensaje</h3>
<br>
  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :required => true %><br>
    <%= f.input :email, :required => true %><br>
    <%= f.input :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Enviar mensaje', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>

<br>
Acupuntura Cosmetica Simon Verde<br>
<br>
Calle Fernan Caballero <br>
4 Gelves (Simon Verde)<br>
41120<br>
Sevilla<br>
<br>(+34) 609 942 706<br>
info@acupunturasimonverde.com<br>
<br>
<%= image_tag 'sevilla_map.PNG' %><br>
<br>
<%= image_tag 'acupuncture map.PNG' %>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d8902.983797669875!2d-6.032031067480312!3d37.34213648897615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2ses!4v1493802128317" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
